
/* 旧式 */
section{
  font-family: "Klee One", sans-serif
}

.articleCategory{
  border-bottom: solid 0.1em  #e83929;
  display: inline;
}


.articleScene {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  border-top: 3px solid #c9171e;  /* 上に青い線 */
  border-bottom: 3px solid #c9171e;  /* 下に青い線 */
}

/* 新版 */
article img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 0.2em 0 1em;
}
/* 基本スタイル */
main {
  display: flex;
  font-family: "Klee One", sans-serif;
  margin: 0 5em;
  gap: 2em; /* article と aside の間 */
}

/* 背景色で視認性向上 */
article {
  padding: 1em;
  flex: 2;
}

aside {
  padding: 1em;
  flex: 1;
  margin-top: 10em;
}
/* ここから */
main{
  font-family: "Klee One", sans-serif
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #9e2a2f;
}

ul li {
  padding-top; 1em;
  padding-bottom: 1em;
}

.Err{
  color: #F08080;
  font-weight: bold;
  background-color: #F5F5F5;
  padding: 2em;
  border-radius: 2em;
}

.me{
   display: flex;
}

.me-img, .chatGPT-img {
  width: 5vw;
  max-width: 100%;
  height: 5vw;
  margin: 0.5em;
  border-radius: 1em;
}

.me-text {
  background-color: #eaf4fc;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;
}

.chatGPT{
  display: flex;
}

.chatGPT-text{
  background-color: #fdeff2;
  margin: 0.5em;
  padding:0.5em;
  border-radius: 1em;
}

.articleCategory{
  border-bottom: solid 0.1em  #e83929;
  display: inline;
}


.articleScene {
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
  border-top: 3px solid #c9171e;  /* 上に青い線 */
  border-bottom: 3px solid #c9171e;  /* 下に青い線 */
}

.category {
  font-family: "Klee One", serif;
  font-size: 1.5em;
  text-decoration-line: underline;
}



.section {
  font-size: 1em;
}

.marker-text {
  text-decoration: underline;
}



/* レスポンシブ：700px以下で縦並び */
@media (max-width: 700px) {
  main {
    flex-direction: column;
  }
  aside {
    margin-top: 2em;
  }
}

@media (max-width: 2550px) {
  main p {
    font-size: 2em
  }
  .articleScene {
    font-size: 2.8em;
  }
  .category{
    font-size: 2.5em;
  }
}
  
