body {
  background-color: #fefcf7;
  color: #333333;
  margin: 0;
  padding: 0;
}

/* ヘッダー */
header {
  background-color: #f0eee9;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcd8d0;
}

/* タイトル */
.title {
  font-size: 1.3rem;
  color: #333333;
  font-family: "Quicksand", sans-serif;
}

.title-enjoy {
  font-size: 1.6rem;
}

.Japanese {
  font-family: "Klee One", sans-serif;
  font-style: normal;
}

.title-new-N {
  font-size: 1.5rem;
  font-weight: 800;
  color: #7a252a;
}

.title-new-E {
  font-size: 1.5rem;
  color: #8c1010;
}

.title-new-W {
  font-size: 1.5rem;
  color: #9e2a2f;
}

.title-new-B {
  font-size: 1.5rem;
  color: #b33d3d;
}

/* メニュー */
.header-menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.header-menu a {
  color: #33335d;
  text-decoration: none;
  font-size: 0.8em;
  transition: color 0.3s ease;
  padding: 0 0.5em;
}

/* メインコンテンツ */
main {
  margin: 2em;
}

/* カテゴリータイトル */
.category {
  font-family: "Klee One", serif;
  font-size: 1.7em;
  text-decoration-line: underline;
}
/* 更新履歴タイムライン風スタイル */
.dev-notes {
    position: relative;
    margin: 2em 1em;
    padding-left: 2em;
    border-left: 2px solid #999;
}

.update-item {
    position: relative;
    padding-left: 1em;
    margin-bottom: 2em;
}

.update-item::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 0.3em;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #999;
    border-radius: 50%;
}

.update-date {
    font-weight: bold;
    color: #444;
    font-family: 'Quicksand', sans-serif;
}

.update-text {
    margin-top: 0.3em;
    font-family: 'Klee One', cursive;
    color: #333;
}

/* スマホでも見やすいように */
@media (max-width: 600px) {
    .dev-notes {
        padding-left: 1em;
        margin-left: 0.5em;
    }

    .update-item::before {
        left: -9px;
    }
}

/* 投稿日時 */
.card-time {
  color: #777777;
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  text-align: right;
  font-size: 0.9em;
  margin-right: 0.5em;
}

/* フッター */
footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 1em 0;
}

footer p a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 0.5em;
}

/* メディアクエリ（スマホ用） */
 @media (max-width: 768px) {
  header {
    display: block;
  }

  .title {
    text-align: center;
  }

  .header-menu {
    display: flex;
    justify-content: center;
  }

  .header-menu-items a {
    margin: 0;
    padding: 0.5em;
  } 

  /* スマホのときだけ縦並び */
   .latest-posts-card {
    display: block;
  }

  .latest-post-memo div {
    display: block;
  }

  .profile .card {
    display: block;
    text-align: center;
  }
} 
